.servicios {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.service-item {
  flex: 1 1 45%;
  background-color: var(--color-principal);
  padding: 1rem;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .service-item {
    flex: 1 1 100%;
  }
}
